<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785877796915-j4gnv4v3j6hok0q63h6bh04udcd3gd3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785877796915-j4gnv4v3j6hok0q63h6bh04udcd3gd3v</string>
	<key>API_KEY</key>
	<string>AIzaSyDHj4Q9QHRJYAkSSDC1ujyZG0ObYr8zVWY</string>
	<key>GCM_SENDER_ID</key>
	<string>785877796915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Jarod.Smith.Skatebud</string>
	<key>PROJECT_ID</key>
	<string>skateboarding-notes-stats</string>
	<key>STORAGE_BUCKET</key>
	<string>skateboarding-notes-stats.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785877796915:ios:68337a0f3c8f904f6bfb46</string>
	<key>DATABASE_URL</key>
	<string>https://skateboarding-notes-stats-default-rtdb.firebaseio.com</string>
</dict>
</plist>